# Diversity

In [1]:
import pandas as pd

## Training

In [2]:
diver_training = pd.read_csv('../Training_data/alpha_diversity/alpha_diversity.csv')
diver_training

,specimen,shannon,inv_simpson,bwpd,phylo_entropy,quadratic,unrooted_pd,rooted_pd
0,A00001-05,1.00000,1.00000,0.000000,-0.000000,0.000000,0.000000,2.53935
1,A00002-01,1.96362,1.81277,2.628940,1.318870,0.876314,3.943410,4.14816
2,A00003-02,1.00000,1.00000,0.000000,-0.000000,0.000000,0.000000,2.62632
3,A00004-08,1.00000,1.00000,0.000000,-0.000000,0.000000,0.000000,1.83870
4,A00004-12,6.94884,4.07385,2.788960,3.134220,1.219900,15.518500,15.58460
...,...,...,...,...,...,...,...,...
3573,J00111-01,1.00000,1.00000,0.000000,-0.000000,0.000000,0.000000,2.25993
3574,J00112-01,1.00149,1.00108,0.008313,0.002881,0.002078,0.008313,1.93897
3575,J00113-01,3.05187,2.53112,3.399690,2.177080,1.180320,6.952930,7.15767
3576,J00115-01,1.00000,1.00000,0.000000,-0.000000,0.000000,0.000000,2.26097
3577,J00116-01,1.09715,1.07276,0.441990,0.201400,0.147330,0.662985,2.47034

In [3]:
diver_validation_preterm = pd.read_csv('../Validation_data/PTB/alpha_diversity/alpha_diversity.csv')
diver_validation_preterm.query('specimen == "K00001-03"')

,specimen,shannon,inv_simpson,bwpd,phylo_entropy,quadratic,unrooted_pd,rooted_pd
157,K00001-03,1.0,1.0,0.0,-0.0,0.0,0.0,2.07844

In [4]:
diver_validation_early = pd.read_csv('../Validation_data/early_PTB/alpha_diversity/alpha_diversity.csv')
diver_validation_early.query('specimen == "K00001-03"') # There are duplicated

,specimen,shannon,inv_simpson,bwpd,phylo_entropy,quadratic,unrooted_pd,rooted_pd
8,K00001-03,1.0,1.0,0.0,-0.0,0.0,0.0,2.07844

In [5]:
diver_validation = pd.concat([diver_validation_preterm,diver_validation_early], axis=0).drop_duplicates()
len(diver_validation.specimen.apply(lambda x: x[0:-3]).drop_duplicates())

148

## Create diver all table

In [6]:
diver_all = pd.concat([diver_training, diver_validation], axis = 0)
diver_all.specimen = diver_all.specimen.replace({'K': 'W', 'V': 'S'}, regex = True)
diver_all

,specimen,shannon,inv_simpson,bwpd,phylo_entropy,quadratic,unrooted_pd,rooted_pd
0,A00001-05,1.00000,1.00000,0.000000,-0.000000,0.000000,0.000000,2.53935
1,A00002-01,1.96362,1.81277,2.628940,1.318870,0.876314,3.943410,4.14816
2,A00003-02,1.00000,1.00000,0.000000,-0.000000,0.000000,0.000000,2.62632
3,A00004-08,1.00000,1.00000,0.000000,-0.000000,0.000000,0.000000,1.83870
4,A00004-12,6.94884,4.07385,2.788960,3.134220,1.219900,15.518500,15.58460
...,...,...,...,...,...,...,...,...
326,S00088-02,1.02834,1.02057,0.175819,0.060934,0.043955,0.175819,2.26828
327,S00011-02,1.00000,1.00000,0.000000,-0.000000,0.000000,0.000000,2.85465
328,S00014-01,5.32362,3.18430,3.711590,3.515060,1.441960,21.849400,22.01190
329,W00038-02,1.86575,1.81777,2.917630,1.011170,0.729408,2.917630,3.08016
330,S00091-02,1.00000,1.00000,0.000000,-0.000000,0.000000,0.000000,2.08514

We add Participant column

In [9]:
diver_all['participant_id'] = diver_all.specimen.apply(lambda x: x[0:-3])
diver_all

,specimen,shannon,inv_simpson,bwpd,phylo_entropy,quadratic,unrooted_pd,rooted_pd,participant_id
0,A00001-05,1.00000,1.00000,0.000000,-0.000000,0.000000,0.000000,2.53935,A00001
1,A00002-01,1.96362,1.81277,2.628940,1.318870,0.876314,3.943410,4.14816,A00002
2,A00003-02,1.00000,1.00000,0.000000,-0.000000,0.000000,0.000000,2.62632,A00003
3,A00004-08,1.00000,1.00000,0.000000,-0.000000,0.000000,0.000000,1.83870,A00004
4,A00004-12,6.94884,4.07385,2.788960,3.134220,1.219900,15.518500,15.58460,A00004
...,...,...,...,...,...,...,...,...,...
326,S00088-02,1.02834,1.02057,0.175819,0.060934,0.043955,0.175819,2.26828,S00088
327,S00011-02,1.00000,1.00000,0.000000,-0.000000,0.000000,0.000000,2.85465,S00011
328,S00014-01,5.32362,3.18430,3.711590,3.515060,1.441960,21.849400,22.01190,S00014
329,W00038-02,1.86575,1.81777,2.917630,1.011170,0.729408,2.917630,3.08016,W00038
330,S00091-02,1.00000,1.00000,0.000000,-0.000000,0.000000,0.000000,2.08514,S00091

## Save data

In [10]:
diver_all.to_csv('../Results/diversity_all.csv', index= False)