# Adjust Metdata for Shiny

In [16]:
# Libraries 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Metadata training

In [17]:
metadata_train = pd.read_csv('../Training_data/metadata/metadata.csv')
metadata_train.drop('was_preterm',axis = 1, inplace = True)

In [18]:
metadata_train[['participant_id','was_term','was_early_preterm','project']].drop_duplicates()
to_check = ['D00061','D00028','D00029','D00059']
metadata_train.query('participant_id in @to_check')

,project,specimen,participant_id,was_term,delivery_wk,collect_wk,race,age,NIH Racial Category,NIH Ethnicity Category,was_early_preterm
460,D,D00028-01,D00028,True,34.0,12.0,Black,32,Black or African American,Unknown,False
461,D,D00028-03,D00028,True,34.0,24.0,Black,32,Black or African American,Unknown,False
462,D,D00028-04,D00028,True,34.0,26.0,Black,32,Black or African American,Unknown,False
463,D,D00028-05,D00028,True,34.0,32.0,Asian,32,Asian,Unknown,False
464,D,D00029-01,D00029,True,35.0,13.0,Asian,23,Asian,Unknown,False
465,D,D00029-02,D00029,True,35.0,18.0,Asian,23,Asian,Unknown,False
466,D,D00029-03,D00029,True,35.0,25.0,Asian,23,Asian,Unknown,False
467,D,D00029-04,D00029,True,35.0,32.0,Black,23,Black or African American,Unknown,False
489,D,D00059-01,D00059,True,36.0,22.0,Black,22,Black or African American,Unknown,False
490,D,D00059-02,D00059,True,36.0,26.0,Asian,22,Asian,Unknown,False
492,D,D00061-01,D00061,True,34.0,15.0,Black,38,Black or African American,Unknown,False
493,D,D00061-02,D00061,True,34.0,19.0,Black,38,Black or African American,Unknown,False
494,D,D00061-04,D00061,True,34.0,31.0,Caucasian,38,White,Unknown,False

In [19]:
metadata_test = pd.read_csv('../Validation_data/key/metadata_full.csv')
metadata_test.project = metadata_test.project.replace({'K': 'W', 'V': 'S'})
metadata_test.specimen = metadata_test.specimen.replace({'K': 'W', 'V': 'S'}, regex = True)
metadata_test.participant_id = metadata_test.participant_id.replace({'K': 'W', 'V': 'S'}, regex = True)
metadata_test

,project,specimen,participant_id,was_term,delivery_wk,collect_wk,race,age,NIH Racial Category,NIH Ethnicity Category
0,W,W00001-03,W00001,False,33,23,BlackorAfricanAmerican,21,Black or African American,Not Hispanic or Latino
1,W,W00002-01,W00002,True,39,13,BlackorAfricanAmerican,20,Black or African American,Not Hispanic or Latino
2,W,W00002-02,W00002,True,39,21,BlackorAfricanAmerican,20,Black or African American,Not Hispanic or Latino
3,W,W00002-03,W00002,True,39,27,BlackorAfricanAmerican,20,Black or African American,Not Hispanic or Latino
4,W,W00003-01,W00003,True,40,12,BlackorAfricanAmerican,24,Black or African American,Not Hispanic or Latino
...,...,...,...,...,...,...,...,...,...,...
367,S,S00093-01,S00093,False,36,20,White,36,White,Hispanic or Latino
368,S,S00093-02,S00093,False,36,32,White,36,White,Hispanic or Latino
369,S,S00094-01,S00094,True,39,13,White,33,White,Not Hispanic or Latino
370,S,S00094-02,S00094,True,39,26,White,33,White,Not Hispanic or Latino
371,S,S00094-03,S00094,True,39,32,White,33,White,Not Hispanic or Latino

In [20]:
early_preterm = pd.read_csv('../Validation_data/key/key_early_preterm.csv')
early_preterm.was_early_preterm = early_preterm.was_early_preterm.replace({1: True, 0: False})
metadata_test['was_early_preterm'] = metadata_test.participant_id.map(dict(zip(early_preterm.participant_id,early_preterm.was_early_preterm)))

In [21]:
metadata_test[['participant_id','was_term','was_early_preterm','project']].drop_duplicates().project.value_counts()

S    92
W    60
Name: project, dtype: int64

In [23]:
metadata = pd.concat([metadata_train, metadata_test], axis=0)

metadata = metadata.replace({'Above_38' : 'Above 29', 'Below_18' : 'Below 28',
                 '18_to_28' : 'Below 28', '29-38':'Above 29'})

metadata = metadata.replace({'American Indian or Alaska Native' : 'Other', 'Native Hawaiian or Other Pacific Islander' : 'Other', 'Asian':'Other'})

display(metadata)
metadata.age.value_counts().sort_values(ascending = True)

,project,specimen,participant_id,was_term,delivery_wk,collect_wk,race,age,NIH Racial Category,NIH Ethnicity Category,was_early_preterm
0,A,A00001-05,A00001,False,38.0,33.0,American Indian,Unknown,Other,Unknown,False
1,A,A00002-01,A00002,False,40.0,38.0,White,Unknown,White,Unknown,False
2,A,A00003-02,A00003,False,40.0,30.0,Asian-Japanese,Unknown,Other,Unknown,False
3,A,A00004-08,A00004,False,40.0,27.0,White,Unknown,White,Unknown,False
4,A,A00004-12,A00004,False,40.0,29.0,White,Unknown,White,Unknown,False
...,...,...,...,...,...,...,...,...,...,...,...
367,S,S00093-01,S00093,False,36.0,20.0,White,36,White,Hispanic or Latino,NaN
368,S,S00093-02,S00093,False,36.0,32.0,White,36,White,Hispanic or Latino,NaN
369,S,S00094-01,S00094,True,39.0,13.0,White,33,White,Not Hispanic or Latino,NaN
370,S,S00094-02,S00094,True,39.0,26.0,White,33,White,Not Hispanic or Latino,NaN
371,S,S00094-03,S00094,True,39.0,32.0,White,33,White,Not Hispanic or Latino,NaN

43             1
51             1
16             1
39             1
45             2
            ...
25.0          69
34.0          74
27.0          85
Below 28     154
Unknown     1702
Name: age, Length: 82, dtype: int64

### Check numbers vs manuscript

In [24]:
check = metadata[['participant_id','was_term','was_early_preterm','project']].drop_duplicates()
print(check.shape)

(1420, 4)

In [25]:
check[['was_term','project']].value_counts().sort_index()
check[['project']].value_counts().sort_index()

project
A           39
B           33
C          110
D           70
E           73
F           74
G          134
H          114
I          538
J           83
S           92
W           60
dtype: int64

In [26]:
check[['was_early_preterm','project']].value_counts().sort_index()

was_early_preterm  project
False              A           36
                   B           30
                   C           61
                   D           49
                   E           63
                   F           72
                   G          114
                   H          103
                   I          493
                   J           77
True               A            3
                   B            3
                   C           49
                   D           21
                   E           10
                   F            2
                   G           20
                   H           11
                   I           45
                   J            6
dtype: int64

### Create a new colunm for age

In [27]:
age_ranges = ['Unknown','Above 29', 'Below 28']
range_cat = metadata.query('age in @age_ranges')
range_cat['Range'] = range_cat.age
range_cat.Range.value_counts()

/tmp/ipykernel_9786/2402532914.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  range_cat['Range'] = range_cat.age

Unknown     1702
Below 28     154
Above 29      61
Name: Range, dtype: int64

In [28]:
range_num = metadata.query('age not in @age_ranges')
range_num.loc[:,'age'] = range_num['age'].astype(float)
range_num['Range'] = pd.cut(range_num.age, bins = [0,28,200], labels= ['Below 28','Above 29'])
range_num.Range.value_counts()

/tmp/ipykernel_9786/269637371.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  range_num.loc[:,'age'] = range_num['age'].astype(float)
/tmp/ipykernel_9786/269637371.py:2: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  range_num.loc[:,'age'] = range_num['age'].astype(float)
/tmp/ipykernel_9786/269637371.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  range_num['Range'] = pd.cut(range_num.age, bins = [0,28,200], labels= ['Below 28','Above 29'])

Above 29    1097
Below 28     936
Name: Range, dtype: int64

In [29]:
metadata_all = pd.concat([range_cat,range_num], axis=0)
display(metadata_all)
metadata_all.Range.value_counts()

,project,specimen,participant_id,was_term,delivery_wk,collect_wk,race,age,NIH Racial Category,NIH Ethnicity Category,was_early_preterm,Range
0,A,A00001-05,A00001,False,38.0,33.0,American Indian,Unknown,Other,Unknown,False,Unknown
1,A,A00002-01,A00002,False,40.0,38.0,White,Unknown,White,Unknown,False,Unknown
2,A,A00003-02,A00003,False,40.0,30.0,Asian-Japanese,Unknown,Other,Unknown,False,Unknown
3,A,A00004-08,A00004,False,40.0,27.0,White,Unknown,White,Unknown,False,Unknown
4,A,A00004-12,A00004,False,40.0,29.0,White,Unknown,White,Unknown,False,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
367,S,S00093-01,S00093,False,36.0,20.0,White,36.0,White,Hispanic or Latino,NaN,Above 29
368,S,S00093-02,S00093,False,36.0,32.0,White,36.0,White,Hispanic or Latino,NaN,Above 29
369,S,S00094-01,S00094,True,39.0,13.0,White,33.0,White,Not Hispanic or Latino,NaN,Above 29
370,S,S00094-02,S00094,True,39.0,26.0,White,33.0,White,Not Hispanic or Latino,NaN,Above 29
371,S,S00094-03,S00094,True,39.0,32.0,White,33.0,White,Not Hispanic or Latino,NaN,Above 29

Unknown     1702
Above 29    1158
Below 28    1090
Name: Range, dtype: int64

It is considered as early preterm birth before 32 weeks (not included) and as preterm birth before 37 weeks (not included).

In [30]:
metadata_all['Type'] = pd.cut(metadata_all['delivery_wk'],bins=[0,31,36,200], labels= ['early', 'preterm','term'])
metadata_all['Trimester'] = pd.cut(metadata_all.collect_wk,[0,13,26,42],labels=[1,2,3])
metadata_all = metadata_all.rename(columns={'NIH Racial Category':'Race', 'Range' : 'Age'})
metadata_all

,project,specimen,participant_id,was_term,delivery_wk,collect_wk,race,age,Race,NIH Ethnicity Category,was_early_preterm,Age,Type,Trimester
0,A,A00001-05,A00001,False,38.0,33.0,American Indian,Unknown,Other,Unknown,False,Unknown,term,3
1,A,A00002-01,A00002,False,40.0,38.0,White,Unknown,White,Unknown,False,Unknown,term,3
2,A,A00003-02,A00003,False,40.0,30.0,Asian-Japanese,Unknown,Other,Unknown,False,Unknown,term,3
3,A,A00004-08,A00004,False,40.0,27.0,White,Unknown,White,Unknown,False,Unknown,term,3
4,A,A00004-12,A00004,False,40.0,29.0,White,Unknown,White,Unknown,False,Unknown,term,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,S,S00093-01,S00093,False,36.0,20.0,White,36.0,White,Hispanic or Latino,NaN,Above 29,preterm,2
368,S,S00093-02,S00093,False,36.0,32.0,White,36.0,White,Hispanic or Latino,NaN,Above 29,preterm,3
369,S,S00094-01,S00094,True,39.0,13.0,White,33.0,White,Not Hispanic or Latino,NaN,Above 29,term,1
370,S,S00094-02,S00094,True,39.0,26.0,White,33.0,White,Not Hispanic or Latino,NaN,Above 29,term,2
371,S,S00094-03,S00094,True,39.0,32.0,White,33.0,White,Not Hispanic or Latino,NaN,Above 29,term,3

## Save data

In [32]:
metadata_all.to_csv('../Results/metadata_all.csv', index=False)